$font: "Baloo Paaji 2", cursive;
$main-color: #1f363d;
$second-color: rgb(163, 184, 175);
$third-color: rgb(238, 238, 238);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $third-color;
  height: 100vh;
}
